<html lang="en" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="./app.css">

     <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <!-- Project Files -->
    
    <!-- config module -->
		<script src="./config/config.module.js"></script>
		<script src="./config/config.factory.js"></script>
    <!-- controller module -->
		<script src="./controller/controller.module.js"></script>
		<script src="./controller/app.controller.js"></script>
	<!-- app module -->
		<script src="./app.module.js"></script> 
		
	<title>Rover redo</title>
  </head>

  <body ng-app="rover-ui" ng-cloak>
    
    <div ng-controller="appController as vm" layout="column" class="full-content" flex>
      <md-toolbar layout="row">
          <md-button class="md-icon-button search-button" ng-click="vm.searchToggle()">
          	<md-icon md-svg-src="./assets/baseline-search-24px.svg">
          	</md-icon>
          </md-button>
          <h3>Rover - Dog Sitting</h3>
      </md-toolbar>

      <md-content class="main-content">
        <div layout="column">
          <md-sidenav layout="column" layout-fill class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left">
            <md-toolbar class="md-tall bg-white less-tall">
              <div class="md-toolbar-tools inset">
                <h1>Sitter Search</h1>
              </div>
            </md-toolbar>
              <md-content class="padding-md" flex>
                <h3>
                  Minimum Average Review: {{vm.minimumAverageStayRating}}
                </h3> 
                <md-slider step=".25" min="0" max="5" ng-model="vm.minimumAverageStayRating">
                </md-slider>
                <div class="center-align">
                  <md-button ng-click="vm.search()" class="md-accent md-raised">
                    Search
                  </md-button>
                </div>
              </md-content>
          </md-sidenav>
        </div>

        <div layout="column">
          <md-content layout-fill>
          	<div ng-show="!vm.sitters">
				<br>
				<div class="padding-lg center-align">
				  <img src="./rover-banner.png" class="width-100 max-width-600"/>
				  </br>
				  Welcome to Rover's dog sitting services. Use the menu to the left to search for the perfect sitter to meet your needs.
				</div>
				<br>
			</div>
			
			<div ng-show="vm.sitters.length === 0">
				Could not find any sitters available for your search settings. Please adjust your settings and then try again.
			</div>
				
			<md-list id="item-list" ng-show="vm.sitters.length !== 0">
				<md-list-item class="md-2-line" ng-click="vm.selectSitter(sitter)" ng-repeat="sitter in vm.sitters">
					<img class="sitter-img" ng-src="{{sitter.imageUrl}}"></img>
					<div class="md-list-item-text sitter-name">
						<h3>{{sitter.name}}</h3>
						<p>Average stay rating of {{sitter.averageStayRating.toFixed(2)}}</p>
					</div>
					<md-divider>
				</md-list-item>
			</md-list>
			
          </md-content>
        </div>
      </md-content>
    </div>  
    
  </body>
</html>